
<!DOCTYPE html>
<html>
	<head>
		<title>Wordcloud for reviews text</title>
	</head>
	<style>
    body{
    background-color : linen
    }
		
	</style>
	<body>
  <h1> The Word Cloud for the Satifaction Survey!</h1></br>
  <p>A word cloud is a visual representation of text data where the size of each word corresponds to its frequency or importance within the text. It is a popular way to display and summarize textual information in a visually appealing and intuitive manner.</br>
    The more frequently a word appears in the text, the larger its size in the word cloud. This allows viewers to quickly identify the most significant or frequently used words at a glance.</br>
</br></p>
	<div class="img" align="center">
        <img src="data:image/png;base64,{{ img_data }}"/>
    </div>
  
       </body>
</html>
